.App {
  text-align: center;
}

.App-header {
  font-family: "Major Mono Display", monospace;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-family: "Space Mono", monospace;
}
.boundingBox {
  background-color: #282c34;
  min-height: 90vh;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 5%;
  font-size: calc(10px + 2vmin);

}
.AccountBox {
  background-color: #282c34;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 10px;
  margin: 0 auto;
  border-radius: 2em;
  font-size: calc(10px + 2vmin);
  border-style: dashed;
  
  width: 70%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
