.App {
  text-align: center;
}

.App-header {
  font-family: "Major Mono Display", monospace;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

button {
  font-family: "Space Mono", monospace;
  border-radius: 20px;
  padding: 1em;
  background-color: #282c34;
  color: white;
}
.button:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
}
.button:active {
  box-shadow: 0 0 #ab3c3c;
  top: 6px;
}
.networkname{
  color:#363c49;
  font-size: calc(10px + 1vmin);

}

.boundingBox {
  border-top: dashed;
  border-color: #363c49;
  background-color: white;
  min-height: 90vh;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 2%;
  font-size: calc(10px + 2vmin);
  width: 60%;
  margin: 0 auto;
}
.AccountAddress {
  font-size: calc(10px + 1vmin);
  border-style: dashed;
  border-radius: 2em;
  padding-bottom: 1em;
  margin: 0 auto;
  background-color: white;
  color:darkseagreen;
  border-color: #363c49;
}
.AccountBox {
  background-color: #363c49;
  color: white;
  font-family: "Space Mono", monospace;
  padding: 10px;
  border-radius: 2em;
  font-size: calc(10px + 1vmin);
  border-style: dashed;
  width: 70%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
